!!!
%html
  %head
    %title= @title || "Title"
    %link{ href: "/application.css", rel: "stylesheet", type: "text/css" }
  %body
    #access
      %ul
        %li
          %a{ href: "#content" } skip to content
        %li
          %a{ href: "#nav" } skip to navigation
    #branding
      %h1
        %a{ href: "/" } Title
    #nav
    #content
      = yield

    #footer
      %p#legal
        &mdash;
        &copy;
        = Time.current.strftime('%Y')
        Elle Meredith
