/* -------------------------------------------------------------- 
  Master Stylesheet
  Author:   Elle Meredith
  Site:     
  Version:  2010.02

-------------------------------------------------------------- */
@import url("reset.css");             /* reset */
@import url("layout.css");            /* layout: height, width, display, float, position */
@import url("type.css");              /* typography and vertical rhythm */
@import url("screen.css");            /* colours, borders, and backgrounds */


/* Global Super Classes
  * Miscellaneous conveniences:
-------------------------------------------------------------- */

.hidden               { display: none; }
.invisible          { visibility: hidden; }

.left               { float: left; }
.right              { float: right; }
.clear              { clear:both; }