/* -------------------------------------------------------------- 
   
     Author:   Elle Meredith
     Site:     
     Version:  2010.02
     
     print.css
     * sets some sensible styles for printing pages.
     
     = will need to change id's according to your markup
-------------------------------------------------------------- */

body {font: 11pt "Helvetica Neue", Arial, Helvetica, sans-serif; background: #fff; color: #222; line-height: 1.5;}

/* Layout
-------------------------------------------------------------- */
/* Hide the elements not needed for printing */
#access, #searchform, #nav, #sidebar {display: none;}
#wrapper {width: 95%; margin: 1em 0 0 20px; display:block; background: none;}
#content {width:auto !important; background: none;}
#footer {width:auto !important; background: none;}

p img { margin-top: 0; }
img.left {float: left; clear: right; margin: 0 1.5em 1.5em 0;}
img.right {float: right; clear: left; margin: 0 0 1.5em 1.5em;}


/* Links and colours
-------------------------------------------------------------- */
a {color: #BF0B35; background: transparent;font-weight:700; text-decoration: underline;}
a img { border:none; }
a:link:after, a:visited:after { content: " (" attr(href) ")"; font-size: 90%; }

/* If you're having trouble printing relative links, uncomment and customize this:
   (note: This is valid CSS3, but it still won't go through the W3C CSS Validator) */

/* a[href^="/"]:after {
  content: " (http://www.yourdomain.com" attr(href) ") ";
} */