/* -------------------------------------------------------------- 
   
     Author:   Elle Meredith
     Site:     
     Version:  2010.02
     
     General Typography Styles
     * Sets up some sensible default typography.
     * Defines font sizes and line heights and some margins
     * Tries to Keep the baseline grid
     * Does not define colours, borders or backgrounds
   
-------------------------------------------------------------- */

/* Default font settings. 
   The font-size percentage is of 16px. (0.875 * 16px = 14px) 
   body { font-size: 87.5%; } */
html { font-size:100.01%; }
body { font-size: 14px; line-height:1.5; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }

/* Baseline rhythm 
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, p, blockquote {font-size:1em; line-height:1.5em; margin:0 0 1.5em; font-weight: normal; }
h1 { font-size: 3em; line-height: 1em; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.5em; line-height: 1em; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25em; margin-bottom: 1.25em; }
h5, h6 { font-size: 1em; margin-bottom: 1.5em; font-weight: bold;}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin: 0;}


/* Text elements
-------------------------------------------------------------- */
p img.left  { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

blockquote  { margin: 1.5em; font-style: italic; }
dfn         { font-weight: bold; font-style: italic; }
sup, sub    { line-height: 0; }
address     { margin: 0 0 1.5em; font-style: italic; }
pre 				{ margin: 1.5em 0; white-space: pre; }
pre,code,tt { font-size: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }


/* Lists
-------------------------------------------------------------- */
li ul, li ol { margin:0 1.5em; }
ul, ol      { margin: 0 1.5em 1.5em 1.5em; }
ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }
dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}


/* Tables
-------------------------------------------------------------- */
table       { margin-bottom: 1.4em; width:100%; }
th          { font-weight: bold; }
th,td,caption { padding: 4px 10px 4px 5px; }
tfoot       { font-style: italic; }
